* {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* changed all header tags from class selectors to element selectors */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

/* changed header from a class selector to an element selector since class="header" was removed from the html */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* changed seo from a class to an id since its only used once */
header h1 #seo {
  color: #d9dcd6;
}

/* changed from header div to header nav to reflect the changes made in the html with semantic elements */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* changed from header div ul to header nav ul to follow the naming convention */
header nav ul {
  list-style-type: none;
}

/* changed from header div ul li to header nav ul il to keep the naming convention consistent */
header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* changed hero from a class to an id since it's unique, and moved the image url to html so alt text could be added there */
#hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* changed from a class selector to an id selector */
#content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* consolidated .search-engine-optimization, .online-reputation-management, .social-media-marketing into .content-card */
.content-card {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.content-card img {
  max-height: 200px;
}

.content-card h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* changed from a class selector to an id selector */
#benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}

/* consolidated .benefit-lead, .benefit-brand, .benefit-cost into .benefits-box */
.benefits-box {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefits-box h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefits-box img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* changed footer from a class selector to an element selector since class="footer" was removed from the html */
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

/* changed h2 to h4 because h2 is already used in the content section, and h3 is being used in the benefits aside  */ 
footer h4 {
  font-size: 20px;
}